{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for property in properties %}
        {% set imagepath = 'images/' ~ property.image %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename=imagepath) }}" class="card-img-top" alt="Property Image">
                <div class="card-body">
                    <h5 class="card-title">{{ property.suburb }}</h5>
                    <p class="card-text">{{ property.address1 }}</p>
                    <p class="card-text">{{ property.description }}</p>
                    <p class="card-text">
                        <i class="fa-solid fa-bed"></i> {{ property.bedrooms }}
                        <i class="fa-solid fa-bath"></i> {{ property.bathrooms }}
                        <i class="fa-solid fa-toilet"></i> {{ property.toilets }}
                        <i class="fa-solid fa-car"></i> {{ property.carspace }} 
                        <i class="fa-regular fa-square"></i> {{ property.landarea }} m&sup2;
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}