{% extends 'base.html' %}
{% block title%}
    <title>QPC - Data policies</title>
{% endblock%}
{% block content %}
    <H4> Queensland Property Comparator Data Policies </H4>
    <br>
    <h5> 1. Definition of terms used in the QPC</h5>
        <ul>
            <li>Term 1: Meaning 1</li>
            <li>Term 2: Meaning 2</li>
            <li>Term 3: Meaning 3</li>
        </ul>
    
    <h5> 2. Sources of data and how we use it </h5>

    <h6> a. Your personal data</h6>
        <p>When you register as a user, we collect certain information from you. This includes your name, email address, and password. We use this information to create and manage your account, and to provide you with access to our services.</p>
        <p>We also collect additional information during the registration process, such as your occupation and business name if you work in real estate. This is collected to enhance your user experience or to comply with legal requirements.</p>
        <p>Rest assured that we take the privacy and security of your data seriously. We only collect and store the information necessary to provide our services, and we never share your personal information with third parties without your consent.</p>

    <h6> b. Government public data </h6>
        <ul>
            <li>Bus Stop data: We use the name and location of bus stops in Brisbane provided by the QLD government to enable our search tools to locate bus stops near properties for sale</li>
            <li>School data: We use the name and location of schools in QLD provided by the QLD government to enable our search tools to locate schools near properties for sale</li>
        </ul>

    <h6> c. Real estate data </h6>
        <ul>
            <li>Property data: Test data including descriptions and property attributes were created by: OpenAI. (2023). ChatGPT (Mar 14 version) [Large language model]. https://chat.openai.com/chat</li>
            <!-- https://apastyle.apa.org/blog/how-to-cite-chatgpt -->
            <li>Property images: All images used in the QPC were created with the assistance of DALL·E 2</li>
            <!-- https://help.openai.com/en/articles/6640875-how-should-i-credit-dall-e-in-my-work -->
        </ul>

{% endblock %}


