{% extends 'base.html' %}
{% block title%}
    <title>QPC - Data policies</title>
{% endblock%}
{% block content %}
    <H4> Queensland Property Comparator Data Policies </H4>
    <br>
    <h5> 1. Definition of terms used in the QPC</h5>
        <ul>
            <li>Property listing: A real estate property put up for sale in Brisbabe
                 and available to Real Estate Practitioner members via this site
            </li>
            <li>Search: find properties in QPC property listings that match the criteria 
                selected, for example suburb, distance to school and distance to bus stop</li>
            <li>Distance to School: The distance between the lat long of the property
                 and the school. That is the direct geographical distance, not the 
                 distance to walk / drive. The school lat long is provided by QLD gov</li>
            <li>Distance to Bus Stop: The distance between the lat long of the property
                and the bus stop. That is the direct geographical distance, not the 
                distance to walk / drive. The bus stop lat long is provided by QLD gov</li>
            <li>Property attribute: The features of a property, such as the number of 
                bedrooms, bathrooms, and parking spaces</li>
            <li>Profile: the details QPC stores for each user, see 'Your Personal Data'
                for how this data is used </li>
            <li>Work in Real Estate: You are an owner, employee of a real estate business,
                 or work in a related field such as property management development or 
                auctions</li>
            <li>Business Name: the name as registered with ASIC 
<a href="https://asic.gov.au/for-business/registering-a-business-name/before-you-register-a-business-name/what-is-a-business-name/">
                (ASIC, 2024)</a></li>
        </ul>
    
    <h5> 2. Sources of data and how we use it </h5>

    <h6> a. Your personal data</h6>
        <ul>
            <li>When you register as a user, we collect certain information from you. 
            This includes your name, email address, and password. 
            We use this information to create and manage your account, 
            and to provide you with access to our services.</li>
            <li>We also collect additional information during the registration process, 
            such as your occupation and business name if you work in real estate. 
            This is collected to enhance your user experience or to comply with 
            legal requirements.</li>
            <li>Rest assured that we take the privacy and security of your data seriously. 
            We only collect and store the information necessary to provide our services, 
            and we never share your personal information with third parties 
            without your consent.</li>
        </ul>
    <h6> b. Government public data </h6>
        <ul>
            <li>Bus Stop data: We use the name and location of bus stops in 
                Brisbane provided by the Brisbane City council. We use this data to enable 
                our search tools to locate bus stops near properties for sale
<a href="https://www.data.brisbane.qld.gov.au/data/dataset?tags=transport">
                Bus Stops</a></li>
            <li>School data: We use the name and location of schools in QLD 
                provided by the QLD government. We use this data to enable our 
                search tools to locate schools near properties for sale
<a href="https://www.data.qld.gov.au/dataset/state-and-non-state-school-details">
                School Locations</a></li>
        </ul>

    <h6> c. Real estate data </h6>
        <ul>
            <li>Property data: Test data including descriptions and property 
                attributes were created by: OpenAI. (2023). ChatGPT (Mar 14 version) 
                [Large language model]. https://chat.openai.com/chat</li>
            <!-- https://apastyle.apa.org/blog/how-to-cite-chatgpt -->
            <li>Property images: All images used in the QPC were created 
                with the assistance of DALL·E 2</li>
<!-- https://help.openai.com/en/articles/6640875-how-should-i-credit-dall-e-in-my-work -->
        </ul>

{% endblock %}


