{% extends 'base.html' %}

{% block content %}

<br>
<div class="grid-container">
    <div class="text-content">
      <h4>Welcome!</h4>
        <p class="welcometext">To use our service 
          <br>
          log in or sign up below.</p>
    
    
          <a href="order.html">
            <button class="button1"><b>Log In</b></button>
          </a>
          <br> 
          <a href="order.html">
            <button class="button2"><b>Sign Up</b></button>
          </a>
    
    </div>
</div>


</div>
</div>
{% endblock %}