{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h4>Welcome!</h4>
        <p>To use our service, <br> log in or sign up below.</p>
      </div>
      <div class="text-center">
        <a href="login.html" class="btn btn-primary"><b>Log In</b></a>
      </div>
      <div class="text-center mt-3">
        <a href="signup.html" class="btn btn-primary"><b>Sign Up</b></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}