<form method="POST" action="{{ url_for('signup') }}">
    
    <div>{{ form.first_name.label }}: {{ form.first_name }}</div>
    {% if form.first_name.errors %}
        <ul class="errors">{% for error in form.first_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}


    <div>{{ form.last_name.label }}: {{ form.last_name }}</div>
    <div>{{ form.occupation.label }}: {{ form.occupation }}</div>
    <div>{{ form.email.label }}: {{ form.email }}</div>
    <div>{{ form.password.label }}: {{ form.password }}</div>
    <div>{{ form.verify_password.label }}: {{ form.verify_password }}</div>
    <div>{{ form.is_in_realestate.label }}: {{ form.is_in_realestate }}</div>
    <div>{{ form.businessname.label }}: {{ form.businessname }}</div>

    
    <button type="submit">Sign Up</button>
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</form>


<script>
    const isRealEstateCheckbox = document.getElementById('is_real_estate');
    const businessInput = document.getElementById('business_input');

    isRealEstateCheckbox.addEventListener('change', function() {
        if (this.checked) {
            businessInput.style.display = 'block';
        } else {
            businessInput.style.display = 'none';
        }
    });
</script>